.password-meter {
  height: 5px;
  transition: all .33s ease-out;
}

.weakest {
  background: #800000;
}

.weaker {
  background: #FF7A00;
}

.weak {
  background: #FDE66A;
}

.strong {
  background: #0BD664;
}

.stronger {
  background: green;
}