.show-hide-password {
  color: $default_secondary_font_color;
  font-size: $form_fields_font_size/$base_font_size+em;
  position: absolute;
  bottom: 1px;

  @if $direction == 'ltr' {
    right: 10/$base_font_size+em;
  } @else {
    left: 10/$base_font_size+em;
  }
  line-height: $form_fields_height/$form_fields_font_size+em;
  height: $form_fields_height/$form_fields_font_size+em;
  display: none;
}